@import '../variables.scss';
.Dashboard {
    display: flex;
    flex-direction: column;
    // height: 100vh; 
    // justify-content: center;
    // background-color: rgb(231, 246, 244);
  }
  .Dashboard-top-half {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .MyProfile-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 20px 20px 10px 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: $container-color;
    border: $black-border;
    border-radius: $large-border-radius;
    align-items: start;
  }

  .profile-pic {
    flex: .5;
    margin-right: 10px;
    img {
        border: $black-border;
        border-radius: 50%;
        width: 1;
        margin-bottom: 10px; 
    }
  }

  .profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;

    .profile-header {
      text-align: left;
      font-weight: bold;
      font-size: xx-large;
      margin-bottom: 10px;
      padding: 20px 0 5px 0;
    //   background-color: rgb(221, 221, 217);
    //   border-radius: 1cap;
    }

    ul {
        list-style: none;
        padding: 20px;
        margin: 0;
        background-color: $item-color;
        border-radius: $small-border-radius;
    
        li {
            font-weight: bold;
            font-size: large;
            margin-bottom: 5px;
        }
    }
  }
  
  .profile-management {
    flex:0.5;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 30px;
    text-align: left;

    button {
        font-size: large;
        padding: 10px 0 10px 0;
        margin-bottom: 10px;
        background-color: $item-color;
        border-radius: $small-border-radius;
        border: 0px;
    }
  }

  .Reminders-container {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px 20px 10px 20px;
    background-color: $container-color;
    border: $black-border;
    border-radius: $large-border-radius;
    align-items: center;
  }
  .Reminders-header {
    display: flex;
    flex-direction: row;
    margin: 5px 10px 5px 5px;    
    align-items: center;
  }

  .Reminders-header-title {
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
    margin-right: 15px;
  }
  .reminder-text {
    font-size: large;
    text-align: left;
  }
  
  .Dashboard-bottom-half {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    // border: 3px solid #932424;
  }
  
  .MyPlants-container {
    flex: 1;
    padding: 10px;
    margin: 10px 20px 20px 20px;
    background-color: $container-color;
    border: $black-border;
    border-radius: $large-border-radius;
  }

  .MyPlants-header {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }
  .view-toggle {
    flex: 1;
    padding: 10px 5px;
    margin: 0 5px;
    text-align: center;
    color: black;
    font-size: 0.8em;
    border: 0px;
    background-color: $item-color;
    border-radius: $small-border-radius;
  }

  .button-icon {
    max-width: 40px;
    border: 2px solid black;
    border-radius: 50%;  
  }

  .MyPlants-title {
    flex: 1;
    font-size: xx-large;
    font-weight: bold;
    padding: 0 0 0 10px;
  }
  

  .plant-list {  
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
  }
  .list-link {
    text-decoration: none;
    color: black;
  }

  .plant-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $item-color;
    border-radius: $small-border-radius;
    padding: 10px;
    font-size: large;
    
    .label-picture {
        flex: 1;
        max-width: 100px;
        font-weight: bold;
    }
    .label-name {
        flex: 1;
        font-weight: bold;
    }
    .label-cycle {
        flex: 1;
        font-weight: bold;
    }
    .label-watering {
        flex: 1;
        font-weight: bold;
    }

  }

  .list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: $item-color;
    border-radius: $small-border-radius;
    font-size: large;

    .plant-pic {
        flex: 1;
        border-radius: 50%;
        border: 2px solid black;
        max-width:85px;
        padding: 0;
    }
    .common-name {
        flex: 1;
        text-align: center;
    }
    .cycle {
        flex: 1;
        text-align: center;
    }
    .watering {
        flex: 1;
        text-align: center;
    }

  }



// My Plants Gallery styling
.MyPlants-gallery-filters {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  
  .MyPlants-gallery-filter-btn {
    border-radius: 150vw; // Very large to guarantee capsule shape
    min-width: 80px;
    min-height: 40px;
    flex: 1;
    margin: 0 5px;
    background-color: $paper;
    // color: $background-brown;
    font-size: 0.6em;
    &:active {
        color: white;
        background-color: $logo-dark;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyPlants-masonry {
    width: 95%;
    min-width: 400px;
    column-count: 4;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0;

    // line-height: 0;
}

$border-width: 3px;
.MyPlants-plant-card {
    width: 100%;
    position: relative;
    break-inside: avoid;
    margin-bottom: 10px - 2 * $border-width;
    border-radius: 3px;
    border: $border-width solid transparent;
    img {
        display: block;
        width: 100%;
    }
    &:hover {
        // background-color: green;
        border: $border-width solid $plant-green;
        transition: all 0.1s linear;
        > * {
            transition: all 0.1s linear;
        }
        .MyPlants-plant-des {
            visibility: visible;
            opacity: 1;
        }
        img {
            filter: brightness(40%);
            // -webkit-filter: brightness(50%);
        }
    }
}

.MyPlants-plant-des {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    text-decoration: none;
    color: $paper;
    overflow: hidden;

    visibility: hidden;
    opacity: 0;

    > * {
        margin: 0;
    }
}

.MyPlants-plant-name {
    font-size: 1em;
}
.MyPlants-plant-species {
    font-size: 0.8em;
}

.AddPlants-container {
  flex: .5;
  margin: 10px 20px 20px 20px;
  // max-height: 15%;
  padding: 10px;
  background-color: $container-color;
  border: $black-border;
  border-radius: $large-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AddPlants-title {
  flex:1;
  font-size: xx-large;
  padding: 25px;
}
.AddPlants-by-search {
  flex: 1;
  padding: 25px 0;
}
.AddPlants-search-results-list {
  list-style: none;
  button {
    font-size: large;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    background-color: $item-color;
    border-radius: $small-border-radius;
    border: 0px;
    list-style-type: none;
    &:hover {
      // background-color: green;
      border: $border-width solid $plant-green;
      transition: all 0.1s linear;
      > * {
          transition: all 0.1s linear;
      }
    }
  }
  label {
    text-align: center;
  }
}
.AddPlants-by-gallery {
  flex: 1;
  padding: 25px;
  text-decoration: none;
  font-size: large;
}
.AddPlants-link {
  background-color: $item-color;
  border-radius: $small-border-radius;
  border: 0px;
  padding: 10px;
  text-decoration: none;
  color: black;
}