@import '../variables.scss';

#navbar {
    position: fixed;
    min-width: 800px;
    width: 100vw;
    box-sizing: border-box;
    padding-right: 20px;
    height: 10vh;
    min-height: 40px;
    margin: 0;
    inset: 0;
    background-color: $paper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 49;
    color: $background-brown;
}

.navbar-group {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0 10px;
    background-color: $manilla;
    border-radius: 10px;
    height: 80%;

    @include darken-hover;
}

.navbar-logo {
    height: 80%;
    margin: 0 10px;
}

.page-link {
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    &:visited {
        color: inherit;
    }
}

.modal-btn {
    @include darken-hover;
}

.logout-btn {
    color: red;
}

.navbar-name {
    margin: 0 10px;
}

.navbar-name img{
    padding: 20px
}

.pfp {
    border-radius: 50%;
}

.navbar-pfp {
    height: 70%;
    margin: 0 10px;
}

$modal-offset: 10px;
.user-modal {
    position: fixed;
    top: (max(10vh, 40px));
    right: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;

    // height: 40vh;
    // min-height: 300px;
    width: 20vw;
    min-width: 300px;
    
    margin: 10px;
    padding: 20px;
    
    background-color: $paper;
    border-radius: 30px;

    color: $text-dark;
}

.modal-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $manilla;
    box-sizing: border-box;
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.user-overview {
    // min-height: 40px;
    // height: 20vh;
    // max-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-user-details {
    p {
        margin: 0;
    }
}


.modal-pfp {
    // height: 100%;
    width: 30%;
    margin: 10px;
}