$logo-light: #eaebe5;
$logo-dark: #464644;
$plant-green: #8fdba3;
$background-brown: #423520;

// Dashboard
$container-color: $logo-light;
$black-border: 3px solid black;
$large-border-radius: 0cap;
$item-color: rgb(221, 221, 217);
$small-border-radius: 1cap;
