@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$logo-light: #eaebe5;
$logo-dark: #464644;
$plant-green: #8fdba3;
$medium-brown: #422b17;
$background-brown: #423520;
$shadow: rgba(0, 0, 0, 0.3);
$paper: #ede2be;
$manilla: #e3ce8f;

// Text
$text-light: white;
$text-dark: rgb(43, 23, 1);
$text-emphasis: rgb(41, 148, 17);

// Dashboard
$container-color: $logo-light;
$black-border: 3px solid black;
$large-border-radius: 0cap;
$item-color: rgb(221, 221, 217);
$small-border-radius: 1cap;
